doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home | Cards Club
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="shortcut icon", href="/assets/cardsclublogo.png", type="image/png")
    link(rel="apple-touch-icon", href="/assets/cardsclublogo.png")
    
  body
    header.menubar 
      a(href="https://tsa.cards"): div.main-logo
        img.navlogo(src="/assets/cardsclublogo.png", alt="Spade Atom Logo")
        h2.main-text Cards Club
      .island-menubar 
        a.menu-item(href="/signup") Sign Up
        a.menu-item(href="/count") Chips
        a.menu-item(href="/account") Stats
      

