extends header

block content
  .index.radial-granient.hero 
    .index.max-width-wrapper
      .index.heromessage
          b: h1.index Play Poker and Have Fun!
          b: p.index Meetings every Thursday at lunch in Mr. Bradfield's Room - W308
          a.button(href="/signup")  Join Today!
